<h2>Update Your Status</h2>
<br>
<%= form_for @user, :url => { :action => 'update' } do |f| %>
  <%= f.label "New Status:", :class => "change-new-status" %>
  <%= f.select :status, options_for_select(['Not In', 'Away', 'Online']) %>
  
  <span class="change-update-btn">
  <%= f.submit "Update", :class => "btn btn-primary" %>
  </span>
<% end %>