<% if user_signed_in? %>
  <h1>Welcome <%= current_user.fullname %>!</h1>
  <h4>Your Status:<span class="label label-success"><%= current_user.status %></span></h4>
  <div style="width:400px">
    <table class="table">
      <tr>
        <th>Name</th>
        <th>Status</th>
      </tr>
  <% @users.each do |u| %>
    <tr>
      <td><%= u.fullname %></td>
      <td><%= u.status %></td>
    </tr>
  <% end %>
    </table>
  </div>
  
<% else %>
<h1>Welcome to In/Out Board</h1>
<p>Check status of all employees in the office</p>

<div class="alert alert-warning">
  <p>Please login to continue</p>
</div>
<% end %>